<div id="header">
	<div id="navbar">
		<a href="/"><img src="<%= image_path('transparent-white-icon.png') %>" height="120" width="120"/></a>
		<h1><a href="/">Project Pavement</a></h1> 
		<div id="links">

		<span class="dropdown">
  		<a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">map
  		</a>
  		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    		<li><a href="/map/chi" target="_blank">chicago</a></li>
		    <li><a href="/map/nyc" target="_blank">new york</a></li>
		    <li><a href="/map/other">others</a></li>
  		</ul>
		</span>•
		<a href="/contribute">contribute</a>•
		<a href="/contact">contact</a>•
		<a href="https://github.com/strangerloops/pavement">source code</a>
		</div>
	</div>
</div>