<div id="header">
	<div id="navbar">
		<img src="<%= image_path('transparent-white-icon.png') %>" height="120" width="120"/>
		<h1><a href="/">Project Pavement</a></h1> 
		<div id="links">
			<a href="/">home</a>•<a href="/map">map</a>•<a href="/contribute">contribute</a>•<a href="/contact">contact</a>•<a href="https://github.com/strangerloops/pavement">source code</a>
		</div>
	</div>
</div>