<div id="header">
	<div id="navbar">
		<h1><a href="/">Project Pavement</a></h1> 
		<div id="links">
			<a href="/">home</a>•<a href="/map">map</a>•<a href="https://github.com/strangerloops/pavement">contribute</a>•<a href="/contact">contact</a>
		</div>
	</div>
</div>