<div id="header">
	<div id="navbar">
		<h1><a href="/">Project Pavement</a></h1> 
		<div id="links">
			<a href="/map/all-adjusted">map</a>  •  <a href="https://github.com/strangerloops/pavement">	contribute</a> 
		</div>
	</div>
</div>