<div class="static-page">
	<%= render "header" %>
	<div class="container">
		<div id="contact">
			<div class="copy">
				<p>If you encounter any difficulty or error when using Pavement, or have a suggestion for how to improve it, please contact us <a href="https://twitter.com/pavement_app">on twitter</a> or <a href="mailto:pavement.app@gmail.com">by email</a> - we would love your feedback!
			</div>
		</div>
	</div>
</div>