<div class="static-page">
	<%= render "header" %>
	<div id="contact">
		<div class="copy">
			My name is Michael Hassin. I spend most of my time riding bikes and programming computers in Chicago. You can contact me <a href="mailto:hassinmichael@gmail.com">here</a> or <a href="https://www.github.com/strangerloops">here</a> or <a href="http://www.twitter.com/strangerloops">here</a>. Thanks for checking out Project Pavement :)
		</div>
	</div>
</div>