<div class="static-page">
	<%= render "header" %>
	<div id="contact">
		<div class="copy">
			<p>
				The three best ways to help out Project Pavement are:</p>
				<p>&#9;• Contributing code.</p>
				<p>&#9;• Sending feedback.</p>
				<p>&#9;• Collecting data with your bike.</p>
				The iPhone app used for measuring pavement quality is not yet in the App Store, but you can help collect data nonetheless! <a href="/contact">Get in touch</a> and I can get the Pavement app installed on your phone as a tester. If you have an Apple Developer account, you can download the code from Github and build the app from source.

				Thanks for checking out Project Pavement :)
			</p>
		</div>
	</div>
</div>