<div class="static-page">
	<%= render "header" %>
	<div class="copy">
		<p>Project Pavement is an attempt to map pavement quality in cities using a bicycle and a smartphone accelerometer. The technology is open source and the data is collected by members of the community.</p>

		<p>The safety and comfort of cyclists is highly sensitive to pavement quality. Roads in bad condition can cause flat tires and other damage to bikes. Cyclists may swerve into the line of traffic and put themselves at risk when trying to avoid potholes and fissures.</p>

		<p>The objective of Project Pavement is to give city-dwelling cyclists the data they need to plan safe and enjoyable routes as well as to make transparent to urban planners the condition and popularity of streets as bike routes.</p>

		<p>Check out the map and start contributing today!</p>
	</div>
	<div class="imgs">
		<%= image_tag("go_logo.jpg") %>
		<%= image_tag("logo-star-avatar.png") %>
	</div>
</div>