<div class="static-page">
	<%= render "header" %>
	<div class="container">
		<div id="use">
			<div class="copy">

				<h2>Use</h2>

				<p>Just press the start button before you begin riding, and the stop button when you are done. The app works in the background so you can use navigation apps while measuring - just don't forget to press stop when you reach your destination!

				<p><h2>Mount</h2>

				<p>Pavement uses your phone's accelerometer to estimate the bumpiness of the road you ride over. In order to work properly, your phone must be attached to your bike with a mount. The mount shouldn't let the phone move with respect to the bike, so ones with fewer parts are better than ones with arms.

				<p>From experience, we've found that this one is really good (and cheap). Please let us know if you find another good one!

				<p><h2>Calibration</h2>

				<p>If you get a new bike, or change your phone mount, pressing the recalibrate button will ensure that your measurements remain accurate. You don't have to calibrate before your first ride.
			</div>
		</div>
	</div>
</div>