/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

#header {
	margin: 0px;
	border: 0px;
	padding-top: 1%;
	padding-bottom: 0px;
	background-color: rgb(102,227,182);
	color: white;
}

#header a {
	color: white;
}

#navbar {
	text-align: center;
	text-decoration: none;
	padding-bottom: 0.7%;
	color: white;
}

.static-page { 
	/*padding-top: 3%;
	padding-left: 15%;
	padding-right: 15%;*/
}

#header a:hover {
	text-decoration: underline;
	color: white;
}

#links a {
	text-align: center;
	text-decoration: none;
	padding-left: 1.2em;
	padding-right: 1.2em;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
}

.container {
	padding-top: 1.5%;
}

figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

figcaption {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

h1 a {
	color: black;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

.copy {
	font-family: 'Raleway', sans-serif;	
	font-size: 18px;
	padding-bottom: 1%;
}

.hacknight:hover {
	background-image: 'chn-logo.png';
}

.smartchicago:hover {
	background-image: 'scc-logo.jpg';
}