<head>
  <script type="text/javascript">
    window.onload = function () {
      map = L.map('map');
      var layer = Tangram.leafletLayer({
        scene: "<%= asset_path 'cinnabar.yaml' %>",
        attribution: '<a href="https://github.com/strangerloops/pavement">Project Pavement</a> | <a href="https://mapzen.com/tangram" target="_blank">Tangram</a> | &copy; OSM contributors | <a href="https://mapzen.com/" target="_blank">Mapzen</a>'
      });
      layer.addTo(map);

      map.setView(<%= @coords %>, <%= @zoom %>);

      $.ajax({
        type: "GET",
        url: "<%= asset_path 'chi_agg_info.txt' %>",
        dataType: "text",
        success: function(data) {
          lines = data.split("\n");
          lines.forEach(function(line){
            var splitLine = line.split("|");
            // lat_lon_tuple(0) | agg_road_bumpiness(1) | total_road_readings(2) | seg_dist(3)
            var lat_lon_tuple = splitLine[0];
            var agg_road_bumpiness = splitLine[1];
            var totalReadings = splitLine[2]
            var split_tuple = lat_lon_tuple.split(",").map(function(s){
              return s.replace(/\(/g, "").replace(/\)/g, "").trim();
            });
            var lat1 = Number(split_tuple[0]);
            var lon1 = Number(split_tuple[1]);
            var lat2 = Number(split_tuple[2]);
            var lon2 = Number(split_tuple[3]);
            if (lat1 && lat2 && lon1 && lon2){
              var start = new L.LatLng(lat1, lon1);
              var end   = new L.LatLng(lat2, lon2);
              var points = [start, end];
              var red = (agg_road_bumpiness * 250) % 255;
              var green = 0;
              var blue = 255 - ((agg_road_bumpiness * 250) % 255);
              var color = "rgb(" + Math.floor(red) + "," + Math.floor(green) + "," + Math.floor(blue) +")";
              var poly = new L.Polyline(points, {
                color: color,
                weight: 4.75 + (0.25 * totalReadings),
                opacity: 1,
                smoothFactor: 0
              });
              map.addLayer(poly);
            }
          });
        }
      });

      // JSON.parse(packets).forEach(function(packet){
      //   var start = new L.LatLng(packet['start_location'][0], packet['start_location'][1]);
      //   var end   = new L.LatLng(packet['end_location'][0],   packet['end_location'][1]);
      //   var points = [start, end];
      //   var roughness = packet['roughness'];
      //   var red = (roughness * 250) % 255;
      //   var green = 0;
      //   var blue = 255 - ((roughness * 250) % 255);
      //   var color = "rgb(" + Math.floor(red) + "," + Math.floor(green) + "," + Math.floor(blue) +")";
      //   var poly = new L.Polyline(points, {
      //     color: color,
      //     weight: 10,
      //     opacity: 0.4 + (roughness * 2),
      //     smoothFactor: 0
      //   });
      //   map.addLayer(poly);
      };

  </script>
</head>
<body>
  <div id="map">
    <style>
      #map{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
  </style>
  </div>
</body>