<head>
	<script type="text/javascript">
	  window.onload = function () {
	  	Window.map = L.map('map').setView([41.9850300,-87.6250500], 20);
	  	L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    		attribution: ' <a href="https://github.com/strangerloops/pavement">Project Pavement</a> | &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(Window.map);
			var packets = <%= @packets.to_json.html_safe %>;

			packets.forEach(function(packet){
				var start = new L.LatLng(packet['start_location'][0], packet['start_location'][1]);
				var end   = new L.LatLng(packet['end_location'][0], packet['end_location'][1]);
				var points = [start, end];
				var roughness = packet['roughness'];
				var red = (roughness * 250) % 255;
				var green = 0;
				var blue = 255 - ((roughness * 250) % 255);
				var color = "rgb(" + Math.floor(red) + "," + Math.floor(green) + "," + Math.floor(blue) +")"; 
		  	var poly = new L.Polyline(points, {
	    		color: color,
	    		weight: 10,
	    		opacity: 1,
	    		smoothFactor: 1
	    	});
  	  	Window.map.addLayer(poly);
			});
	  };
	</script>
</head>
<body>
	<div id="map">
		<style>
			#map{
			  position: absolute;
			  top: 0;
			  bottom: 0;
			  width: 100%;
			}
	</style>
	</div>
</body>